<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="freeCRM APPlication">
<listeners>
<listener class-name="listeners.ListenerTest">


</listener>
</listeners>
<parameter name="URL" value="https://freecrm.com/"></parameter>
  <test thread-count="5" name="End To End Testing">
  <groups>
  <run>
  <include name="End To EndsTesting"></include></run>
  </groups>
  
    <classes>
     
      <class name="com.freeCrm.testcases.logInPageTest"/>
       <class name="com.freeCrm.testcases.homePage"/>
      
       
    </classes>
 
  </test> <!-- End To End Testing -->
</suite> <!-- freeCRM APPlication -->
